* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Shippori Mincho B1', serif;
}

body {
    background-color: #f7f7f7;
}


a {
    text-decoration: none;
}

button a {
    color:#000;
}

hr {
    width: 794px;
    float: right;
    height: 1px;
    border-bottom: none;
    border-color: #656566;
}
/* -------- CART ---------- */

.cart-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    border-left: 1px solid #000;
    width: 250px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.cart-bar-cont {
    display: none;
    height: 80vh;
    width: 100%;
    overflow: auto;
}


.checkout {
    position: absolute;
    bottom: 50px;
    padding: 1em 0em;
    border-radius: 10px;
    background-color: #ba6fb4;
    border: none;
    cursor: pointer;
    font-size: 1.15em;
    display: none;
}

.checkout:hover {
    background-color: #a757b5;

}

.checkout a {
    padding: 1em 2.5em;
}



/* --------- HERO ------------- */

.hero {
    margin-top: 45px;
    width: calc(100vw - 250px);
    height: calc(100vh - 175px);
    background-image: url('img/hero-1.jpeg');
    background-size:auto;
    background-position: center;
    border-top: #000 1px solid;
    border-bottom: #000 1px solid;
    position: relative;
}


.logo {
    height: 198px;
    width: 210px;
    background-image: url('img/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -110px;
    left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 30%;
    z-index: 1;
}

.logo-two {
    height: 90px;
    width: 212px;
    background-color: red;
    position: absolute;
    bottom: 0px;
    left: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 30% 30% 0% 0%;
    border: 1px solid black;
}

.logo h5 {
    color: #f7f7f7;
    text-shadow: 0px 0px 1px #000;
    text-align: center;
    text-shadow: 0px 0px 5px #ba6fb4;
    margin: 64px 0px 0px 0px;
    font-size: 1.10em;
}

h5.logo-warp-one {
    transform: rotateY(30deg) rotate(10deg) translateY(7px);
}
h5.logo-warp-two {
    transform: translateY(1px);
}
h5.logo-warp-three {
    transform: rotateY(-25deg) rotate(-8deg) translateY(3px);
}

nav {
    width: 815px;
    float: right;
    position: sticky;
    top: 0;
    background-color: #f7f7f7;
    z-index: 1;
    border-left: 1px solid;
    border-bottom: 1px solid #000;
    border-color: transparent;
    transition: all ease 250ms;
    border-radius: 0px 0px 0px 5px;
}

nav::after {
    content: '';
    display: table;
    clear: both;
}

.nav-links {
    display: flex;
    list-style-type: none;
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
}

.nav-links li {
    text-align: center;
    margin: 15px 25px;
}

.nav-links li:first-of-type {
    margin-left: 20px;
}

.nav-links a {
    cursor: pointer;
    width: 100%;
    position: relative;
    color:#656566;
}

.nav-links a::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 1.5px;
    background-color: #ba6fb4;
    opacity: 0;
}

.nav-links a:hover {
    color: #000;
}

.nav-links a:hover::after {
    opacity: 1;
}

/* ----- CART ------- */

.cart-item-container {
    display: flex;
    width: 100%;
    height: 75px;
    align-items: center;
    position: relative;
}

.cart-item-container div {
    margin-left: 7.5px;
}

.cart-item-remove {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #e93131;
    margin-left: 10px;
}

.cart-item-number {
    width: 15%;
    text-align: center;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    text-align: left;
    justify-content: center;
}

.cart-item-name {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;  
}

.cart-item-additions {
    color: #656566;
    text-overflow: ellipsis;
    width: 100%;
    overflow:hidden;
    text-align: left;
    white-space: nowrap;
    font-size: 8px;
}


.cart-price {
    width: 20%;
}

.name {
    font-size: 4em;
    margin-top: 80px;
    margin-left: 20px;
    color: #000;
}



/* -------- MENU ------- */

.menu-top {
    margin-top: 200px;
}

.menu {
    margin-top: 10px;
    padding: 30px;
}

.menu-item-container {
    height: 150px;
    width: calc(100% - 280px);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    position: relative;
    margin: 15px;
    cursor: pointer;
    transition: ease all 250ms;
}

.menu-item-container:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.item-picture {
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    object-fit: cover;
    object-position: center;
}

.item-picture::after,
    .item-picture::before {
    display: table;
    content: '';
    clear: both;
}

.item-name {
   padding: 5px 5px 5px 10px;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   height: 40px;
}

.item-description {
   overflow: hidden;
   padding: 0px 10px 0px 10px;
   display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    height: 75px;
}

.item-price {
    height: 35px;
    padding-left: 160px;
}

/* -------- MODAL -------- */

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.5);
    overscroll-behavior: contain;
}

.modal-content-container {
    background-color: #f7f7f7;
    margin: 1.5% auto;
    padding: 30px 20px;
    width: 55%;

    box-shadow: 1px 5px 8px rgba(0,0,0, 0.5), -1px -5px 8px rgba(0,0,0,0.5);
    border-radius: 10px;
    position: relative; 
}

.drinks-modal {
    display: none;
}

.closeBtn {
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: 5px;
    color: #e93131;
    font-size: 2.5em;
}

.modal-content-container hr {
    width: 100%;
    margin: 1em auto;
}

input,
    label {
    cursor: pointer;
    margin: 1px;
}
     
.flexed-modal-item {
display: flex;
justify-content: space-evenly;
align-content: center;
width: 100%;
margin: 5px;
}

.flex-modal-extra-items p,
    .avacado-flex p,
        .coffee-options p,
            .tea-options p {
    float: right;
}

.extra-syrup div,
    .toppings div,
         .avacado-flex div,
             .coffee-options div, 
                .tea-options div
                     {
    margin: 5px;
}


.add-to-cart {
    margin: 0 auto;
    text-align: center;
}

.add-to-cart-btn {
    padding: 1em 2.5em;
    border-radius: 10px;
    background-color: #f4a32c;
    border: none;
    cursor: pointer;
    font-size: 1.15em;
}

button:active {
    transform: scale(.98);
}

button:focus,
    input[type=number]  {
    outline: none;
}

.add-to-cart-btn:hover {
    background-color: #ed9015;
}

.modal-total {
    position: absolute;
    bottom: 46px;
    right: 30px;
    font-size: 1.65em;
}

.add-container {
    position: absolute;
    bottom: 46px;
    left: 30px;
    outline: 1px solid #656566;
    outline-offset: -1px;
}

.minus-btn {
    border: 1px solid #656566;
    width: 32px;
    font-size: 1.55em;
    background-color: #fff; 
    cursor: pointer;
    height: 100%;
}

.add-btn {
    border: 1px solid #656566;
    width: 32px;
    font-size: 1.55em;
    background-color: #fff;
    cursor: pointer;
}

.add-btn:active,
    .minus-btn:active {
        border: 1px solid #ba6fb4;
    }

.num-main-order {
    width: 32px;
    font-size: 1.5em;
    text-align: center;
    cursor: default;
    border: none;
    margin: 0;
    padding: 0;
}

/* Chrome, Safari, Edge, Opera NUM-ADD ARROW REMOVE*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox  NUM-ADD ARROW REMOVE*/
input[type=number] {
  -moz-appearance: textfield;
}
