* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Shippori Mincho B1', serif;
}

a {
    text-decoration: none;
}

hr {
    width: 794px;
    float: right;
    height: 1px;
    border-bottom: none;
    border-color: #000;
}

hr::after {
    content: '';
    display: table;
    clear: both;
}
/* -------- CART ---------- */

.cart-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    border-left: 1px solid #000;
    width: 250px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}




/* --------- HERO ------------- */

.hero {
    margin-top: 49.2px;
    width: calc(100vw - 250px);
    height: 400px;
    background-image: url('img/hero-1.jpeg');
    background-size:auto;
    background-position: center;
    border-top: #000 1px solid;
    border-bottom: #000 1px solid;
    position: relative;
}


.logo {
    height: 160px;
    width: 210px;
    background-image: url('img/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -75px;
    left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
}

.logo h5 {
    color: #fff;
    text-shadow: 0px 0px 1px #000;
    text-align: center;
    bottom: 38px;
    text-shadow: 0px 0px 5px #ba6fb4;
    margin: 64px 1.25px 0px 1.25px;
}

h5.logo-warp-one {
    transform: rotateY(30deg) rotate(7deg) translateY(-1px);
}
h5.logo-warp-two {
    transform: translateY(-5px);
}
h5.logo-warp-three {
    transform: rotateY(-25deg) rotate(-6deg) translateY(-3.5px);
}

nav {
    width: 815px;
    float: right;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    border-left: 1px solid;
    border-bottom: 1px solid #000;
    border-color: transparent;
    transition: all ease 250ms;
    border-radius: 0px 0px 0px 5px;
}

nav::after {
    content: '';
    display: table;
    clear: both;
}

.nav-links {
    display: flex;
    list-style-type: none;
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
}

.nav-links li {
    text-align: center;
    margin: 15px 25px;
}

.nav-links li:first-of-type {
    margin-left: 20px;
}

.nav-links a {
    cursor: pointer;
    width: 100%;
    position: relative;
    color:#656566;
}

.nav-links a::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 1.5px;
    background-color: #ba6fb4;
    opacity: 0;
}

.nav-links a:hover {
    color: #000;
}

.nav-links a:hover::after {
    opacity: 1;
}

/* -------- MENU ------- */

.waffles {
    margin-top: 100px;
}

.menu {
    margin-top: 10px;
    padding: 30px;
}

.menu-item-container {
    height: 150px;
    width: calc(100% - 280px);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    position: relative;
    margin: 15px;
    cursor: pointer;
    transition: ease all 250ms;
}

.menu-item-container:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.item-picture {
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
    margin-right: 10px;
}

.item-name {
   padding: 5px;
}

.item-description {
    padding: 5px;
}

.item-price {
    position: absolute;
    bottom: 10px;
    left: 160px;
}

/* -------- MODAL -------- */

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.5);
}

.modal-content-container {
    background-color: #fff;
    margin: 20% auto;
    padding: 30px 20px;
    width: 55%;
    height: auto;
    box-shadow: 1px 5px 8px rgba(0,0,0, 0.5), -1px -5px 8px rgba(0,0,0,0.5);
    border-radius: 10px;
    position: relative; 
    top: -240px;
}

.closeBtn {
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: 5px;
    color: #e93131;
    font-size: 2.5em;
}

.modal-content-container hr {
    width: 100%;
    margin: 1em auto;
}

input,
    label {
    cursor: pointer;
    margin: 1px;
}

.free-syrup-flex {
    display: flex;
    justify-content: space-evenly;
}

.flex-modal-extra-items p {
    float: right;
}

.extra-syrup div,
    .toppings div,
        .free-syrup-flex  {
    margin: 5px;
}

.add-to-cart {
    margin: 0 auto;
    text-align: center;
}

.add-to-cart-btn {
    padding: 1em 2.5em;
    border-radius: 10px;
    background-color: #f4a32c;
    border: none;
    cursor: pointer;
    font-size: 1.15em;
}

button:active {
    transform: scale(.98);
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #ed9015;
}

.modal-total {
    position: absolute;
    bottom: 46px;
    right: 30px;
}